/*Cart CSS*/
.mini-products-list {
    list-style: none;
    width: 100%;
    padding: 10px 0 0;
    overflow-y: auto;
    max-height: 394px;
}
.mini-products-list li {
    padding: 5px 0;
}
.product-name a {
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.product-details .money {
    font-size: 16px;
    font-weight: 600;
}
.has-items button.btn {
    color: #ffffff;
    background: black;
}
.has-items button.btn:hover {
    background: #9c89ff;
}
.summary .price, .label1 {
    font-size: 24px;
    font-weight: 600;
}
.product-name a:hover {
    text-decoration: none;
}
.mini-products-list .btn-remove1 {
    position: absolute;
    right: 5px;
    top: 35px;
    padding: 0 !important;
}
.cartCount {
    background: #d2aa5c;
    color: #ffffff;
}
.make-cart-btn {
    top: -20px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 8px;
}
.cartCount {
    font-size: 10px;
    float: none;
    width: 15px;
    height: 15px;
    padding: 3px 7px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}
/*Cart CSS end*/
img.rounded-circle.ml-2 {
    max-width: 100%;
}
img.img-user-dashboard {
    max-width: 15%;
    margin-bottom: 20px;
}
button.btn.btn-danger {
    padding: 14px 31px;
}
a.navbar-brand.brand-logo {
    text-align: center;
    margin: 0 auto !important;
}
img.slider-image {
    height: auto !important;
    width: 100% !important;
    border-radius: 0 !important;
    overflow: hidden;
}
img#load-img, img#load-img-n {
    padding: 10px;
}
.image_view {
    max-width: 50%;
}
.table th, .table td{
	white-space: normal;
}
.select-tab-view{
    display: inline-block !important;
    margin-right: 8px;
}
.file-upload-info-img {
    max-width: 50%;
    max-height: 300px;
}
.upload-cat-img {
    max-width: 50% !important;
    height: auto !important;
    width: auto !important;
    border-radius: 0 !important;
}
.product-cat-main td{
        width: 30%;
}
.make-center {
    text-align: center;
}
img.img-md.rounded-circle.admin_get_images {
    max-width: 50%;
}
.prod-cat-img {
    max-width: 50%;
}
.has-many-cat {
    max-height: 250px;
    overflow: auto;
}