.zoomWrapper {
    background: #151515;
}
img#product-featured-image {
    max-width: 50%;
}
.product-single__title {
    text-transform: capitalize;
}
button.flag-prod:hover {
    color: #d2aa5c;
}
button.flag-prod {
    background: transparent;
    border: none;
    font-size: 38px;
    padding: 0;
    line-height: 0;
}
.just-arrived-prod:nth-child(7) {
    clear: both;
}
.nav_type3__items {
    display: block !important;
}
.container.privacy-policy h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.container.privacy-policy h4 {
    font-size: 20px;
    margin-top: 40px;
}

.container.privacy-policy h5 {
    font-size: 20px;
}
img.small-image {
    margin-bottom: 10px;
}
h5.empty_rep {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}
.custom-order-change {
    display: none !important;
}
div#shopify-section-1492003551011 {
    background: black;
}
.featured-content h4 {
    font-size: 28px;
}

.ethnics-submenu a{
  color :#000 !important;
  text-transform: capitalize;
}
.ethnics-submenu{
    margin-left: -30px;
    padding: 10px;

}
.order-customize span {
    text-transform: capitalize;
}

.grid-banner-type-7 .block-content h4, .grid-banner-type-7 .block-content .h4 {
  text-transform: inherit;
  font-weight: 300;
  margin-bottom: 0px;
  font-size: 23px;
  margin-top: 30px;
}

.custom-order {
    padding: 20px 0;
    overflow: auto;
}
.tp-mask-wrap iframe {
visibility: inherit !important;
}
.rs-background-video-layer iframe {
opacity: 1;
visibility: inherit !important;
}
img#load-img, img#load-img-n {
  padding: 10px;
  width: 60%;
  }
  
.article-img {
    height: 400px;
    overflow: hidden;
}
.article-detail {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    max-height: 90px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.home-blog-content.blog-detail {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    max-height: 135px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tparrows.tp-leftarrow:before {
    content: '\003C';
}
.tparrows.tp-rightarrow:before {
    content: '\003E';
}
span.showMoney:before {
    content: 'Rs: ';
    position: absolute;
    left: 68%;
}
span#totalMoneyEach3 {
    display: contents;
}
header.site-header .normal-logo {
    position: absolute;
    max-height: 150%;
    top: -20px;
    left: 40px;
}
.h1.grid__item.wide--one-sixth.post-large--one-sixth.large--one-sixth.site-header__logo {
    width: 0%;
}

  /* Top block */
  .header-type-8 .top_bar { background: ; }
  .header-type-8 .top_bar li, .header-type-8 .top_bar span { color:;}     
  .header-type-8 .top_bar a { color:;}    
  .header-type-8 .top_bar a:hover { color:;}    
  .header-type-8 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount { background: #d2aa5c;color:#ffffff;}
  .header-type-8 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount { background: #000000;color:#ffffff;}

  /* Logo block */
  .header-type-8 .site-header__logo a { color:#ffffff;}
  .header-type-8 .site-header__logo a:hover { color:#d2aa5c;}    

  /* Search block */     
  .header-type-8 .search-bar input[type="search"] {color:#000000;} 
  .header-type-8 .header-search span  {color:#ffffff;} 
  .header-type-8 .header-search span:hover {color:#d2aa5c;} 
  .header-type-8 .search-bar__form, .header-type-8 #SearchDrawer  {  }
  .header-type-8 .search-bar__form button,.header-type-8 .search-bar__icon-button { color:#000000;}
  .header-type-8 .search-bar__form button:hover,.header-type-8 .search-bar__icon-button:hover { color:#d2aa5c;}

  .header-type-8 .search-bar input[type="search"]::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    color:#000000;
  }
  .header-type-8 .search-bar input[type="search"]::-moz-placeholder { /* Firefox 19+ */
    color:#000000;
  }
  .header-type-8 .search-bar input[type="search"]:-ms-input-placeholder { /* IE 10+ */
    color:#000000;
  }
  .header-type-8 .search-bar input[type="search"]:-moz-placeholder { /* Firefox 18- */
    color:#000000;
  }


  /* Menu  block */
    .header-type-8 .site-header__menubar,.header-type-8 .is-sticky .site-header__menubar  { background:#1f1e1f; } 
  
  .header-type-8 .menu-tool ul li {color: ;}
  .header-type-8 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger , .header-mobile #showLeftPush {color:#ffffff;}  
  .header-type-8 .menu-tool ul li a:hover,.header-type-8 .menu-tool .site-nav > li > a.current:hover {color:#d2aa5c;} 
  .header-type-8 .menu-tool .site-nav >  li > a.current {color:#d2aa5c;} 
  .header-type-8 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: #fff;}
  .header-type-8 .site-nav-dropdown .inner > a {color: #d2aa5c;}    
  .header-type-8 .site-nav-dropdown .inner > a:hover {color: #d2aa5c;}    
  .header-type-8 .site-nav-dropdown .inner .dropdown a,.header-type-8 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-8 .site-nav .widget-featured-product .product-title,.header-type-8 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: #3e454c;}
  .header-type-8 .site-nav-dropdown .inner .dropdown a:hover,.header-type-8 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-8 .site-nav-dropdown .inner .dropdown a.current,.header-type-8 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-8 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: #d2aa5c;}    

 /* .header-type-8 .site-nav > li > a::before {background: #ffffff; }*/
  
  /* Dropdown block */
  .header-type-8 .menubar-section #Togglemodal i {color: #ffffff;}
  .header-type-8 .menubar-section #Togglemodal i:hover {color: #d2aa5c;}
  .header-type-8 #slidedown-modal {background: #fff;}
  .header-type-8 #slidedown-modal ul li a {color:#3e454c;} 
  .header-type-8 #slidedown-modal ul li a:hover {color:#d2aa5c;} 


  /* Cart Summary block */

  .header-type-8 #slidedown-cart .actions, .header-type-8  #slidedown-cart  {background: #ffffff;}
  .header-type-8 .header-bar__module a {color:#d2aa5c;} 
  .header-type-8 .header-bar__module.cart .baskettop a.icon-cart-arrow i { color: #ffffff;}
  .header-type-8 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover i {color: #d2aa5c;}
  .header-type-8 .header-bar__module a:hover {color:#d2aa5c;} 

  .header-type-8 #slidedown-cart li {  }

  .header-type-8 .menu_bar_right i {color:#ffffff;}
  .header-type-8 .menu_bar_right i:hover {color:#d2aa5c;}



  /* Currency block */



  .header-type-8 .header_currency ul select , .header_currency ul li.currency .selector-arrow::after{color:#ffffff;}   
  .header-type-8 .header_currency ul select:hover ,.header_currency ul li.currency:hover .selector-arrow::after{color:#d2aa5c;}  
  .header-type-8 .header_currency ul li.currency:hover:after {border-top-color:#d2aa5c;}
  .header-type-8 .header_currency ul li.currency:after {border-top-color:#ffffff;}
  .header-type-8 .header_currency option {background:#fff;color:#3e454c;}


  /* Header borders */





  .header-type-8 .site-header {background:#1f1e1f;}

  .header-mobile {color:#3e454c;}


  @media only screen and (min-width:320px) and (max-width:967px) {


    .template-index .header-type-8 .site-header {background:#000000;}
  }




  @media only screen and (min-width:967px) and (max-width:5000px) {


      .template-index .header-type-8:hover .site-header {  background:rgba(0, 0, 0, 0.7) }
    
    .template-index .header-type-8 .site-header {  background:transparent}


  }


  @media(max-width:767px){ 

    .header-type-8 .site-header__menubar { background:; } 
  }
  /* General styles for all menus */


  .gf-menu-device-wrapper .close-menu {
    font-size: 17px;
    padding: 12px 20px;
    text-align: right;
    display: block;
    border-bottom: 1px solid #e5e5e5;
  }

  .cbp-spmenu {

    position: fixed;
  }

  .cbp-spmenu h3 {

    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  .cbp-spmenu a {
    display: block;

    font-size: 1.1em;
    font-weight: 300;
  }




  /* Orientation-dependent styles for the content of the menu */

  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  .cbp-spmenu-vertical a {

    padding: 1em;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;

  }

  /* Vertical menu that slides from the left or right */

  .cbp-spmenu-left {
    left: -240px;
  }

  .cbp-spmenu-right {
    right: -240px;
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Horizontal menu that slides from the top or bottom */

  .cbp-spmenu-top {
    top: -150px;
  }

  .cbp-spmenu-bottom {
    bottom: -150px;
  }

  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }

  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }

  /* Push classes applied to the body */

  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  .cbp-spmenu-push-toright {
    left: 240px;
  }

  .cbp-spmenu-push-toleft {
    left: -240px;
  }

  /* Transitions */

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* Example media queries */

  @media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
      font-size: 75%;
      height: 110px;
    }

    .cbp-spmenu-top {
      top: -110px;
    }

    .cbp-spmenu-bottom {
      bottom: -110px;
    }

  }

  @media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
      font-size: 90%;
      width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
      left: -190px;
    }

    .cbp-spmenu-right {
      right: -190px;
    }

    .cbp-spmenu-push-toright {
      left: 190px;
    }
  }







  /* width: 750px  */
  @media (min-width: 968) and (max-width: 991px) {
    .banner .container { margin-left: -375px; }
    .banner .inner { width: 320px; }

    .header-bottom.on .header-panel-top { right: 65px; }
    .header-bottom.on .site-nav { padding-right: 90px; }

    .nav-bar .header-logo-fix { margin-left: 10px; margin-right: 10px; }
    .site-nav > li > a { margin-left: 12px; margin-right: 12px; }
    .header-bottom.on .site-nav > li > a { margin-left: 7px; margin-right: 7px; font-size: 10px; }

  }

  @media (min-width: 968px) {
    .cbp-spmenu-push-toright {left:0!important;}
    #cbp-spmenu-s1 {display: none !important;}


    .header-bottom.on .nav-bar .header-logo-fix { display: table; height: 48px; position: relative; z-index: 2; }
    .header-bottom.on .nav-bar .header-logo-fix a { display: table-cell; vertical-align: middle; }
    .header-bottom.on .site-nav { padding-right: 120px; }  
    .have-fixed .nav-bar {position: fixed;left: 0;right: 0;top: 0;z-index: 99;padding: 0;}
    .have-fixed .nav-search {position: fixed;top: 0;right: 65px;z-index: 100;width:52px;}


  }

  /* width: 100%  */
  @media (max-width: 967px) {
    body.cbp-spmenu-push-toright {
      cursor: pointer;
    }

    .cbp-spmenu .site-nav-dropdown.style_4 .inner img{margin-top:10px;}


    .visible-phone { display: block; }
    .hidden-phone { display: none; }

    /* header */





    /* Fix Menu Mobile */
    .nav-bar { display: none; }
    .gf-menu-device-container .site-nav { display: block!important; overflow: hidden;width:100%; }
    .gf-menu-device-container .site-nav li { width:100%; }
    .gf-menu-device-container .site-nav.gf-menu.clicked { visibility: visible; height: auto; }  
    /* End Fix Menu Mobile */

    .cbp-spmenu-left.cbp-spmenu-open { left: 0; overflow-y: auto; }
    .cbp-spmenu-push-toright {  overflow-y: hidden;position: fixed; width: 100%;}

    #megamenu-responsive-root { display: none !important; }
    .menu-block { width: 100%; float: left; padding: 0; }

    /* Icon Menu */
    .site-nav > li:hover > a > span:first-child, 
    .site-nav > li:hover > a.current > span:first-child, 
    .site-nav > li > a.current > span:first-child { border: 0; }
    .site-nav a { white-space: normal; }
    .cbp-spmenu {  }
    .cbp-spmenu .site-nav > li > a { font-size: 13px; font-weight: 700;  padding: 12px 20px; margin: 0; }

    .cbp-spmenu .site-nav > li.dropdown.open > a {position: relative;}
    .cbp-spmenu .site-nav > li.dropdown.open > a:before {top: 15px; }

    .menu-block .site-nav { border-bottom: none; }

    .site-nav li { position: relative; }
    .site-nav li.dropdown { position: relative; }
    .site-nav > li { display: block; clear: both; position: relative;}
    .site-nav > li > a { padding: 12px 0; }
    .site-nav > li.dropdown > p.toogleClick { height:0; width:0; display:block; margin-left: 7px; top: 2px; right: 5px; margin:0; padding: 0; z-index: 2; padding: 20px;}
    .site-nav > li.dropdown p.toogleClick { position: absolute; right: 0; text-indent: -999em; cursor: pointer; }
    .site-nav > li.dropdown > p.toogleClick.mobile-toggle-open:before { border-top-color:transparent; top: 14px;}

    .site-nav li.dropdown a > .icon-dropdown { display: none; }

    .site-nav-dropdown .container { padding-left: 0; padding-right: 0; }
    .site-nav-dropdown .row{margin:0px!important}


    .site-nav > li.dropdown ul p.toogleClick.mobile-toggle-open:before { top: 10px; }
    .site-nav-dropdown .col-1 .inner p.toogleClick:before,
    .site-nav > li.dropdown ul p.toogleClick:before { display: block; content:""; position: absolute; right: 0; top: -15px!important; width: 20px; height: 40px; }
    .site-nav-dropdown p.toogleClick { background: url(//cdn.shopify.com/s/files/1/1811/9385/t/7/assets/icon-megamenu.png?3458) no-repeat; padding: 0; width: 8px; height: 8px; right: 0; top: 18px; z-index: 2; }
    .site-nav-dropdown .col-1 .inner p.toogleClick { display: block!important; }
    .site-nav > li.dropdown ul p.toogleClick.mobile-toggle-open,
    .site-nav-dropdown .col-1 .inner p.toogleClick.mobile-toggle-open { background-position: center bottom; height: 4px; }

    .site-nav > li > ul > .dropdown.open > ul {display: block;}
    .site-nav > li > ul > li > ul > .dropdown.open > ul {display: block;}
    .site-nav > li > ul > li > ul > ul > li > .dropdown.open > ul {display: block;}

    .site-nav > li > .site-nav-dropdown {}
    .site-nav > li > .site-nav-dropdown > li > a { padding: 11px 0 13px; text-transform: uppercase; font-size: 11px; font-weight: 700;  }
    .site-nav > li > .site-nav-dropdown > li:first-child > a { border-top: 0; }
    .site-nav > li > .site-nav-dropdown > li:hover > a:before { background: none; }
    .site-nav > li li .site-nav-dropdown { padding: 0 15px; margin-bottom: 20px; }
    .site-nav-dropdown li:hover a { background: none; }
    .site-nav-dropdown li:hover a, 
    .site-nav-dropdown a:active { padding-left: 0; }

    .site-nav-dropdown li li a { padding: 7px 0; }
    .site-nav-dropdown li li:hover a { padding: 7px 20px; }
    .site-nav-dropdown li:hover > a:before { left: 0; }

    .site-nav-dropdown .col-1,
    .site-nav-dropdown .col-2,
    .site-nav-dropdown .col-3 { width: 100%; padding: 0; }
    .site-nav-dropdown .col-3 { padding-bottom: 28px; }
    .site-nav-dropdown .col-1 .inner { width: 100%; padding: 0; }
    .cbp-spmenu .site-nav-dropdown .col-1 .inner:first-child > a { border-top: 0; }
    .site-nav-dropdown .col-1 ul.dropdown li a { padding: 7px 15px; font-size: 12px; font-weight: 400; text-transform: none; border: 0; }
    .site-nav-dropdown .col-1 ul.dropdown li:hover > a:before { left: 20px; }
    .site-nav .widget-featured-product { text-align: left;border-width: 1px 0; margin-bottom: 10px; padding-top: 23px; padding-bottom: 25px; }
    .site-nav .products-grid .grid-item { text-align: left; }
    .site-nav .products-grid .grid-item .product-grid-image { float: left; margin: 0 15px 0 0; }
    .site-nav .widget-featured-product .widget-title h3 { font-size: 11px; }
    .widget-featured-product .grid-item .product-grid-image img { width: 80px; }
    .widget-featured-product .products-grid .grid-item { position: relative; }
    .widget-featured-product .details { overflow: hidden; }
    .site-nav .product-label { display: none; }
    .site-nav .product-label strong { float: left; }

    .cbp-spmenu .site-nav-dropdown .col-1 .inner { width: 100%!important; position: relative; padding: 0; float: left; }
    .cbp-spmenu .site-nav-dropdown.style_4 .inner{width:100%;}

    /*Update 2.0.1*/
    .site-nav-dropdown .col-2 .col-left { width: 100%; clear: both; padding: 0; }
    .site-nav-dropdown .col-2 .col-right { width: 100%; clear: both; padding: 0 0 10px; }
    .site-nav-dropdown .style_2 .col-2 .col-left a { padding-right: 0; }
    .site-nav-dropdown .style_3 .inner > img { display: none; }
    .site-nav-dropdown .style_4 .col-2 { padding-right: 0; }

  }


  .header-mobile { position: relative; }
  .header-mobile #showLeftPush.active .fa-times{display:block;line-height:46px;}
  .header-mobile #showLeftPush {  display: inline-block;font-size: 16px; text-align: center;  cursor: pointer; }
  .header-mobile #showLeftPush.active,
  .header-mobile #showLeftPush:hover {  }
  .header-mobile .customer-area { float: left; width: 50%; position: static; }
  .header-mobile .customer-area > a { float: left; width: 100%; height:46px;}

  .header-mobile .customer-links { margin: 0; }
  .header-mobile .dropdown-menu { font-size:12px; margin: 0; width: 200%; padding: 10px 15px; 
    -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; 
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
  .header-mobile .dropdown-menu ul { overflow: hidden; margin: 0 0 10px; padding-left: 0; list-style: none; }
  .header-mobile .customer-area .fa-user{display: block;text-align: center;line-height: 46px;font-size: 20px;}

  .product-container .product-button a, .product-container .product-button button {
    width: 80px;
    height: 27px;
    line-height: 23px;
    font-size: 14px;
    margin-right: 0px;
    }
    .money p {
      text-align: left;
      margin-top: -5px;
      }
      #myCanvas, #scaledCanvas{
        border: 1px solid #c1c1c1;
        background: black;
    }
    .form-group.imgTag label {
        display: block;
    }
    .imgSelect {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 6px;
    }
    .imgSelect.active{
        box-shadow: 3px 4px 8px #a0a0a0;
    }
    .imgSelect img, .imgSelect span {
        display: block;
    }
    .sideImages>div {
      margin-right: 5px;
  }
.selectDisplay {
    position: relative;
}
.activeImage:after {
    content: '';
    position: absolute;
    background: black;
    top: -22%;
    left: 34%;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 15px solid black;
}
.dimension {
  width: 500px;
  height: 500px;
  margin:auto;
}
.mainImages img {
  width: 100%;
}
.sideImages {
    display: flex;
    margin-top: 28px;
    justify-content: center;
}
.selectDisplay img {
    width: 80px;
}