



.about-us .section-two {float: left;width: 100%;}

.about-us h2 {font-size: 27px;margin-bottom: 30px;text-transform: capitalize;}

.about-us .section-one ul {margin: 20px 0 35px;}

.about-us .section-one li {font-size: 16px;margin-bottom: 20px;}

.about-us .section-one li span {margin-right: 15px;}

.about-us .button {transition: all 0.3s linear 0s;display: inline-block;padding: 10px 70px 10px 20px;position: relative;font-size: 14px;}

.about-us .button span {height: 100%;position: absolute;right: 0;top: 0;width: 50px;}

.about-us ul{list-style-type:none;padding:0;margin:0;}

.about-us .main-heading {text-align: center;float: left;width: 100%;margin-bottom: 30px;}

.about-us .main-heading h5 {font-size: 13px;font-style: italic;margin-bottom: 0;}

.about-us .tab-section {float: left;position: relative;width: 100%;padding-left: 70px;}

.about-us .tab-icon {height: 60px;position: absolute;width: 50px;left: 0;top: 0;}

.about-us .tab-icon span {font-size: 30px;}

.about-us .tab-icon span {font-size: 30px;}

.about-us .main-title .title-sep {display: inline-block;height: 3px;margin-bottom: 40px;position: relative;width: 150px;}

.about-us  .main-title .title-sep::after {bottom: -3px;content: "";height: 1px;left: 0;position: absolute;width: 100%;}

.about-us .section-four  p {margin-top: 60px;padding-right: 60px;}

.about-us .section-two ul {margin: 40px 0;}

.about-us .section-two li {font-size: 14px;position: relative;padding: 5px 0;padding: 3px 3px 3px 20px;}

.about-us .section-two li::after {content: "\f105";font-family: fontawesome;left: 0;position: absolute;top: 3px;}

.about-us .section-six {float: left;width: 100%;background-repeat: no-repeat;background-position: center center;text-align: center;}

.about-us .section-six p { margin-top: 90px; text-align: left;}

.about-us .section-six img {display: inline-block;padding: 0 10px;}

.about-us .section-six .btn {margin-top: 100px;}

.about-us .btn { border-radius: 5px;font-size: 14px;font-weight: bold; padding: 13px 25px;transition: all 0.3s linear 0s;}

.about-us .team-wrapper {transition: all 0.3s linear 0s;float: left;width: 100%;}

.about-us .team-detail {padding: 30px 10px;text-align: center;}

.about-us .team-detail h5 {text-transform: uppercase;transition: all 0.3s linear 0s;font-size: 18px;}

.about-us .team-wrapper h6 {position: relative;margin-bottom: 30px;font-size: 16px;}

.about-us .social-icon li {display: inline-block;margin: 0 5px;}

.about-us .social-icon a {font-size: 14px;padding: 8px;}

.about-us .team-wrapper h6::after {bottom: -8px;content: "";height: 1px;left: 0;margin: 0 auto;position: absolute;right: 0;transition: all 0.3s linear 0s;width: 30%;}

.about-us .team-wrapper:hover h6::after {width: 50%;}

.about-us .grid-uniform.section-one {float: left;width: 100%;}

.about-us .invisible-large{float: left;margin: 70px 0;width: 100%;}

.about-us .invisible-medium {float: left;margin: 50px 0;width: 100%;}

.about-us .center-img{text-align:center;}

.about-us .section-four img {padding: 0 10px;}

.about-us .section-two {float: left;width: 100%;background-repeat: no-repeat;}

.about-us .section-six {float: left;width: 100%;background-repeat: no-repeat;background-position: center center;text-align: center;}

.about-us .button i {left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;top: 50%;transform: translateY(-50%);}

.about-us .section-five .grid__item.wide--one-quarter {padding: 0 10px;}

.about-us h4 {font-size: 23px;}

.about-us .grid-uniform.section-four { background-repeat: no-repeat;float: left;width: 100%;}









/*** min-width 768px : to : max-width 1023px ***/

@media only screen and (min-width:768px) and (max-width:1023px) {

.about-us .container {padding: 0 15px;}

.about-us .section-six p{margin-top: 60px;}

.about-us .team-detail h5 {font-size: 20px;}

.about-us .social-icon a{ padding: 5px;    font-size: 12px;}




}


/*** min-width 320px : to : max-width 767px ***/

@media only screen and (min-width:320px) and (max-width:767px) {


.about-us .container {padding: 0 15px;}

.about-us .team-wrapper{margin-bottom: 20px;}

.about-us .section-six p{margin-top: 20px;}

.about-us .section-one li {font-size: 13px;}

.about-us .section-six .btn {margin-top: 55px;}

.about-us .section-six{padding:20px 0;}

.about-us .section-six {background-size: cover;}

}

/*** min-width 1024px : to : max-width 1199px ***/

@media only screen and (min-width:1024px) and (max-width:1199px) {

.about-us .container {padding: 0 15px;}

}

@media only screen and (min-width:800px) and (max-width:1280px) {

.about-us .container {padding: 0 15px;}

}




























